<!DOCTYPE html>
<html>
  <head>
    <title>Open Place</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="Eastroots92">

    <meta name="keywords" content="openull, openplace, eastroots92, 이동근, 오프널, food, 예약, 단체">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
